{% extends 'base.html.twig' %}

{% block title %}Hello VMofif here!{% endblock %}

{% block body %}
  

     <div class ="container">
     <h3>Modifier un frais </h3>
    <div class="form-group">
    {{ form(form1) }}
    </div>
        
<h3>Ajouter un nouveau frais hors forfait </h3>
<div class="form-group">
{{ form(form2) }}
</div>
    </div>
{% endblock %}
