{% extends 'base.html.twig' %}

{% block title %}Hello VmesFichesFraisController!{% endblock %}

{% block body %}

        
        <div>
    <center><h1>Consulter mes fiche frais</h1>
        <table>
    <tr >
   {% for uneFiche in mesFiches %}
       <td style="border:4px solid black;">{{ uneFiche.id }}</td>
       <td style="border:4px solid black;">{{ uneFiche.mois }}</td>
      
    
    {% endfor %}
    </tr>
        </table>
    </center>
    </div>
{% endblock %}
